<!DOCTYPE html>
<html lang="en">
{% include academic/head.html %}
<body>
  <div class="academic-shell">
    {% include academic/nav.html %}
    <div class="academic-content" id="top">
      <main class="academic-main">
        {% include academic/about.html %}
        {% include academic/news.html %}
        {% include academic/publications.html %}
        {% include academic/projects.html %}
        {% include academic/others.html %}
      </main>
      {% include academic/footer.html %}
    </div>
  </div>
  <script src="{{ '/assets/js/academic.js' | relative_url }}"></script>
</body>
</html>
